
@responsive {
  .form-input {
    @apply w-full border border-gray-400 px-2 py-1 bg-white text-gray-600 rounded outline-none leading-normal text-base;
  }

  .form-input:focus {
    @apply shadow-outline;
  }

  .form-input-lg {
    @apply text-lg py-2;
  }

}
